<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="host=localhost;port=5433;user=dbadmin;password=testpassword;database=demandlink;Label=sqltester" />
    <add key="VerticaConnectionString" value="host=localhost;port=5433;user=dbadmin;password=testpassword;database=demandlink;Label=sqltester" />
    <add key="OdbcConnectionString" value="host=localhost;port=5433;user=dbadmin;password=testpassword;database=demandlink;Label=sqltester" />
  </appSettings>
</configuration>