<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="DemandLink Nugets" value="https://pkgs.dev.azure.com/demandlink/Nuget/_packaging/Nugets/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<DemandLink_x0020_Nugets>
			<add key="Username" value="%DEMANDLINK_NUGET_USERNAME%" />
			<add key="ClearTextPassword" value="%DEMANDLINK_NUGET_PAT%" />
		</DemandLink_x0020_Nugets>
	</packageSourceCredentials>
</configuration>